html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.logotipe{
    margin-bottom: 50px;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

.main-content
{
    display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 color: #fff;
 background-color: #070217;
}

.frag{
    margin-bottom: 50px;
}

.f{
    display: inline-block;
    padding:24px 49px 24px 49px;
}
.f{
    display:inline-block;
    background-color: #3f2aff;
    font-weight: 700px;
    font-size:18px;
}
.f:not(:last-child){
    margin-right: 25px;
}

h1{
    margin-bottom: 40px;
    font-weight: 400px;
    font-size:60px;
    line-height: 60px;
    color: #333;
}

p{
    width: 872px;
    margin-bottom: 40px;
    margin-top: 7px;
    font-weight: 400px;
    font-size:20px;
    line-height: 32px;
    color: #333;
}
.container{
margin: 0 auto;
padding: 80px 0;
width: 1170px;
}

.content{
    margin: 0;
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    margin-bottom: 40px;
}
.content>p{
    width: 692px;
    margin-bottom: 10px;
}

h2{
    margin: 0;
    margin-bottom: 10px;
}
h3{
    margin-bottom: 10px;
}
ul{
    padding-left: 15px;
}
li:not(:last-child){
    margin-bottom: 20px;
}
div > img{
    margin-bottom: 40px;
}

figure{
    margin: 0;
    display: inline-block;
    margin-bottom: 40px;
    width: 872px;
}

.downlow{
position: relative;
font-weight: 700px;
font-size: 18px;
color:#3f2aff;
}

.botton_downlow{
    position: absolute;
    left:-37px;
    top:-12px;
    display: inline-block;
    padding: 10px;
}

.texture{
    border-radius: 20px;
    padding: 50px, 95px, 50px,95px;
    width: 100%;
    font-weight: 700px;
    font-size: 30px;
    color:#fff;
    background-color: #3f2aff;
}

